version: '3.8'
services:
  postgres_db:
    image: postgres
    environment:
      POSTGRES_USER: user123
      POSTGRES_PASSWORD: Password123
      POSTGRES_DB: myapp_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - backend_net

  pgAdmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - backend_net

volumes:
  db_data:


networks:
  backend_net:
    driver: bridge
